/* Website's button css */
.convertButton{
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5cb85c;
  float: right;
  font-weight: bold;
}
.convertButton:hover{
  background-color: #50a150;
}
.cbBittrex, .cbBitstamp{
  padding: 5px;
  margin-right: 15px;
}
.cbBinance, .cbPoloniex{
  padding: 2px 5px;
  margin-left: 15px;
  margin-top: -3px;
  font-weight: bold;
  font-size: 14px;
}

.cbPoloniex{
  margin-top: 1px;
}
.cbBitstamp{
  margin: 5px 0px 0px 0px;
}
